function Main.main 0
call Main.test1 0
pop temp 0
push constant 0
return
function Main.test1 2
push constant 50
push constant 32
call Math.multiply 2
push constant 2
add
pop local 1
push constant 210
push constant 3
push constant 62
push constant 40
call TRex.new 4
pop local 0
push local 0
call TRex.drawRun1 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 0
call TRex.hide 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 0
call TRex.drawRun2 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 0
call TRex.hide 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 0
call TRex.drawJump 1
pop temp 0
push local 0
call TRex.dispose 1
pop temp 0
push constant 0
return
